.u-section-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1 .u-text-1 {
  margin: 48px auto 0 301px;
}

.u-section-1 .u-form-1 {
  height: 552px;
  width: 570px;
  margin: 26px auto 57px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  width: 100%;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}