.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 50px auto 0;
}

.u-section-1 .u-image-1 {
  width: 483px;
  height: 414px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -50px auto 0 329px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -32px 285px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 156px;
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 164px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 291px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 73px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 103px;
  }
}